workflows/collect.json
{
  "name": "collect",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1,3,6"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        368,
        112
      ],
      "id": "625c2dbe-9d3b-45b4-adac-cce10deef442",
      "name": "Schedule (월/수/토 09:00 KST)",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/channels.yaml",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        576,
        112
      ],
      "id": "6d7f1732-3ee3-459c-befa-6c3d149875aa",
      "name": "Read channels.yaml"
    },
    {
      "parameters": {
        "jsCode": "const first = $input.first();\nconst key = Object.keys(first.binary || {})[0];\nif (!key) throw new Error('binary 필드 없음 — F-2 출력의 Binary 탭 확인');\n\nconst buffer = await this.helpers.getBinaryDataBuffer(0, key);\nconst text = buffer.toString('utf-8');\nif (!text.trim()) throw new Error('파일 내용이 비어있음 — F-2의 File Selector 경로 확인');\n\nfunction parseVal(v) {\n  v = v.trim();\n  if (v === 'true') return true;\n  if (v === 'false') return false;\n  return v;\n}\n\nconst channels = [];\nlet cur = null;\nfor (const rawLine of text.split('\\n')) {\n  const trimmed = rawLine.replace(/\\r$/, '').trim();\n  if (!trimmed || trimmed.startsWith('#')) continue;\n\n  let m = trimmed.match(/^-\\s+(\\w+):\\s*(.*)$/);\n  if (m) {\n    if (cur) channels.push(cur);\n    cur = { [m[1]]: parseVal(m[2]) };\n    continue;\n  }\n  m = trimmed.match(/^(\\w+):\\s*(.*)$/);\n  if (m && cur) cur[m[1]] = parseVal(m[2]);\n}\nif (cur) channels.push(cur);\n\nreturn channels.map((c) => ({ json: c }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        112
      ],
      "id": "b1f467b4-0db3-4e2c-b6ce-aad1927bcd4a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1bab1889-fa25-473d-9317-94ee374e9128",
              "leftValue": true,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        976,
        112
      ],
      "id": "fdb4f34c-a208-4451-ab2f-d6fd2a67e9dc",
      "name": "Filter"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.channel.url }}\",\n  \"formats\": [\"markdown\"],\n  \"waitFor\": 2000\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1392,
        112
      ],
      "id": "ddf8d4c2-5dbf-47a1-ac29-ceb29d22eee9",
      "name": "Firecrawl수집",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OuI3Efz8v0rjtLf3",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8645a7a6-7922-4a2d-be64-bb81b5640f93",
              "name": "today_kst",
              "value": "={{ $now.setZone('Asia/Seoul').toFormat('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "8483f4d6-04e3-4cfc-95f4-5beca4afd2ed",
              "name": "channel",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        112
      ],
      "id": "41338cd6-6c06-45ad-b11f-ec71c08a88be",
      "name": "채널준비"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 2000,\n  \"system\": {{ JSON.stringify($json.system) }},\n  \"messages\": [\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.user_content) }} }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        880,
        336
      ],
      "id": "adfe3dbb-29e0-4e35-9934-d65d3a8a0382",
      "name": "Claude추출",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OuI3Efz8v0rjtLf3",
          "name": "Header Auth account"
        },
        "anthropicApi": {
          "id": "7ZsUMGRBAlZbAmV8",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nlet text = ((resp.content && resp.content[0] && resp.content[0].text) || '').trim();\n// 마크다운 코드블록 제거 (conventions §1.6 안전망)\ntext = text.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/```\\s*$/i, '').trim();\n\nconst channel = $('payload빌드').first().json.channel;\n\nlet arr;\ntry {\n  arr = JSON.parse(text);\n  if (!Array.isArray(arr)) throw new Error('JSON이 배열 아님');\n} catch (e) {\n  return [{ json: { _parse_error: e.message, raw: text.slice(0, 500), channel } }];\n}\nif (arr.length === 0) return [];\nreturn arr.map((item) => ({ json: { ...item, channel } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        336
      ],
      "id": "ba8a07fa-8ea0-4861-a3fd-8df5076377c0",
      "name": "JSON파싱"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map((it) => {\n  let url = (it.json.url || '').trim();\n  if (!url) return { json: { ...it.json, _skip: true } };\n  url = url.replace(/^http:/, 'https:');\n  try {\n    const u = new URL(url);\n    u.host = u.host.toLowerCase();\n    [...u.searchParams.keys()].filter((k) => k.toLowerCase().startsWith('utm_')).forEach((k) =>\nu.searchParams.delete(k));\n    if (u.pathname.length > 1 && u.pathname.endsWith('/')) u.pathname = u.pathname.slice(0, -1);\n    url = u.toString();\n  } catch (e) { /* 잘못된 URL은 그대로 */ }\n  return { json: { ...it.json, url } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        336
      ],
      "id": "b4709bcb-effa-4921-b76b-fa9bd23b0873",
      "name": "URL정규화"
    },
    {
      "parameters": {
        "jsCode": "const pkey = Object.keys($input.first().binary || {})[0];\nif (!pkey) throw new Error('프롬프트 binary 없음 — 프롬프트읽기 노드 확인');\nlet prompt = (await this.helpers.getBinaryDataBuffer(0, pkey)).toString('utf-8');\nprompt = prompt.replace(/^---[\\s\\S]*?---\\s*/, '').trim();   // frontmatter 제거\n\nconst set = $('채널준비').first().json;\nconst fc  = $('Firecrawl수집').first().json;\nconst channel = set.channel;\nconst today_kst = set.today_kst;\nconst markdown = (fc.data && fc.data.markdown) || '';\n\nconst user_content =\n  `channel.name: ${channel.name}\\n` +\n  `channel.type: ${channel.type}\\n` +\n  `channel.domain: ${channel.domain}\\n` +\n  `today_kst: ${today_kst}\\n\\n` +\n  `page_markdown:\\n${markdown}`;\n\nreturn [{ json: { system: prompt, user_content, channel } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        336
      ],
      "id": "77e84fef-8554-419b-baaa-dd2627b0edbd",
      "name": "payload빌드"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/prompts/extract_urls.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        464,
        336
      ],
      "id": "ace729c0-1f6b-45c0-ab92-0cc0aaa3c685",
      "name": "프롬프트읽기"
    },
    {
      "parameters": {
        "jsCode": "const candidates = $input.all()\n  .map(it => it.json)\n  .filter(c => c.url && !c._skip && !c._parse_error);\nreturn [{ json: { candidates } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        576
      ],
      "id": "59b2b6ab-5ee2-412d-b916-e19127ddccb9",
      "name": "후보수집"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "36ef030d-d17d-805e-ade4-c319b06eb1d9",
          "mode": "list",
          "cachedResultName": "feed-it",
          "cachedResultUrl": "https://www.notion.so/36ef030dd17d805eade4c319b06eb1d9"
        },
        "returnAll": true,
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        752,
        576
      ],
      "id": "a24126bb-34f5-4c00-8a17-143b7c56c8a0",
      "name": "Get many database pages",
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "Jwx3YSz3B3ysL1c2",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 기존 URL 집합 (Notion raw page에서 properties.URL.url)\nconst existing = new Set();\nfor (const it of $input.all()) {\n  const u = it.json?.properties?.URL?.url;\n  if (u) existing.add(u);\n}\n// 후보에서 신규만\nconst candidates = $('후보수집').first().json.candidates || [];\nconst fresh = candidates.filter(c => !existing.has(c.url));\nreturn fresh.map(c => ({ json: c }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        576
      ],
      "id": "92183323-a43f-415e-a0ec-bfe42820223a",
      "name": "신규필터"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "36ef030d-d17d-805e-ade4-c319b06eb1d9",
          "mode": "list",
          "cachedResultName": "feed-it",
          "cachedResultUrl": "https://www.notion.so/36ef030dd17d805eade4c319b06eb1d9"
        },
        "title": "={{ $json.title }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "URL|url",
              "urlValue": "={{ $json.url }}"
            },
            {
              "key": "Channel|select",
              "selectValue": "={{ $json.channel.name }}"
            },
            {
              "key": "Domain|multi_select",
              "multiSelectValue": "={{ $json.channel.domain }}"
            },
            {
              "key": "PublishedAt|date",
              "includeTime": "=",
              "date": "={{ $json.published_at || $now.setZone('Asia/Seoul').toFormat('yyyy-MM-dd') }}"
            },
            {
              "key": "CollectedAt|date",
              "includeTime": "=",
              "date": "={{ $now.setZone('Asia/Seoul').toISO() }}"
            },
            {
              "key": "IsMetadataFilled|checkbox"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1168,
        576
      ],
      "id": "9267dfdf-c635-4e40-a019-f0e086db3c71",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "Jwx3YSz3B3ysL1c2",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fresh = $('신규필터').all().map(i => i.json);\nconst total = fresh.length;\nconst byChannel = {};\nfresh.forEach(c => { const n = c.channel?.name || 'unknown'; byChannel[n] = (byChannel[n] || 0) + 1; });\nconst lines = Object.entries(byChannel).map(([n, c]) => `• ${n}: ${c}건`);\nconst ts = $now.setZone('Asia/Seoul').toFormat('yyyy-MM-dd HH:mm');\nreturn [{ json: { text: `:inbox_tray: feed-it 수집 완료 (${ts} KST)\\n신규 ${total}건\\n${lines.join('\\n')}` } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        800
      ],
      "id": "79d3db21-65c2-4a09-aae2-73a2fd7acee1",
      "name": "Slack준비"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#feed-it-digest",
          "mode": "name"
        },
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        752,
        800
      ],
      "id": "b607698f-04fe-471c-b596-824750b87f1d",
      "name": "Send a message",
      "webhookId": "209ac80d-c1ce-4e3c-b6e7-09027856a55d",
      "credentials": {
        "slackApi": {
          "id": "wPzdyUz1ollEFBOQ",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule (월/수/토 09:00 KST)": {
      "main": [
        [
          {
            "node": "Read channels.yaml",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read channels.yaml": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "채널준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "채널준비": {
      "main": [
        [
          {
            "node": "Firecrawl수집",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl수집": {
      "main": [
        [
          {
            "node": "프롬프트읽기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude추출": {
      "main": [
        [
          {
            "node": "JSON파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON파싱": {
      "main": [
        [
          {
            "node": "URL정규화",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "payload빌드": {
      "main": [
        [
          {
            "node": "Claude추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "프롬프트읽기": {
      "main": [
        [
          {
            "node": "payload빌드",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL정규화": {
      "main": [
        [
          {
            "node": "후보수집",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "후보수집": {
      "main": [
        [
          {
            "node": "Get many database pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many database pages": {
      "main": [
        [
          {
            "node": "신규필터",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "신규필터": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page": {
      "main": [
        [
          {
            "node": "Slack준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack준비": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ec0748b6-c520-46ae-a3e4-a35c0ac9a02c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bcf1e8d5dad631d3d2980644cd5dae9addb35c255204e578ab9d57198eaf115b"
  },
  "id": "vOhGOEevSwdjFIZT",
  "tags": []
}